/* Contenedor de formulario */
.register-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130vh;
  
}

/* Contenedor de formulario interno */
.form-container {
  background: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 0 90px rgba(230, 230, 230, 0.2);
  padding: 1em 1.5em;
  width: auto;
  text-align: center;
}

/* Título del formulario */
.form-title {
  font-family: Century Gothic, sans-serif;
  font-size: 22px;
  color: #e28213;
  margin-bottom: 0.0em;
}

/* Contenedor de campos de formulario */
.form-input-container {
  display: flex;
  margin-bottom: 1.9em;
  justify-content: space-between;
  align-items: center;
}

/* Etiqueta de campo de formulario */
.form-input-label {
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #555;
  margin-right: 10px;
  flex-basis: 27%;
}

/* Campo de entrada de formulario */
.form-input,
.form-select {
  font-family: Century Gothic, sans-serif;
  flex-basis: 90%;
  padding: 0.75em;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 6px rgba(250, 89, 25, 0.2);
  font-size: 12px;
}

/* Campo de entrada de formulario enfocado */
.form-input:focus,
.form-select:focus {
  box-shadow: 0 0 10px rgba(255, 116, 23, 0.4);
}

/* Grupo de entrada de formulario */
.form-input-group {
  display: flex;
  flex-direction: row;
}

/* Último campo de entrada de formulario en el grupo */
.form-input-group .form-input-container:last-child {
  margin-left: 20px;
}

/* Acciones del formulario */
.form-actions {
  margin-top: 1.5em;
}

